@{
    ViewBag.Title = "GFit - Today's Gauntlets";
}
@model IEnumerable<gFit.Models.Composite.GauntletParticipation>
@using gFit.Models.Base
@using gFit.Models.Composite
@using gFit.Models.ViewModels



@section BackButton{
data-add-back-btn="true"
}


@section Content{
    
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">gFit's Daily Gauntlets</li>

        @foreach (GauntletParticipation p in Model.OrderBy(o => o.Gauntlet.BasePoints).ToList<GauntletParticipation>())
        {
            @Html.Partial("_GFitGauntletListItem", p);
        }



        <li data-role="list-divider">Friends Gauntlets</li>
        <li><a href="#">Coming Soon</a></li>
        <li><a href="#">Coming Soon</a></li>
        <li><a href="#">Coming Soon</a></li>
        <li><a href="#">Coming Soon</a></li>



    </ul>

}
