.center-wrapper {
    text-align: center;
}

    .center-wrapper * {
        margin: 0 auto;
    }


.notification {
    border: 1px solid #808080;
    padding: 10px;
    background-color: #FFFF82;
}

.gauntlet-display {

    border: 1px solid #000000;

}