@{
    ViewBag.Title = "About";
}


@section Header
{
    <a href="#" style="visibility: hidden"></a>
    <h1> </h1>
    <a href="@Url.Action("Login", "Account")" data-icon="arrow-r" data-iconps="right" >Login</a>        
}



@section Content
{
    
    <div class="content-section">
        <div class="title">
            Participate in Daily Excercise Challenges
        </div>
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>


    <div class="content-section">
        <div class="title">
            You Versus The World
        </div>
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>



    <div class="content-section">
        <div class="title">
            View Your Workout History
        </div>
        <div class="content">
            See improvment over time
        </div>
    </div>

    


}