@model gFit.Models.Account


@section Content{

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">hi @Model.FirstName.ToLower()        
        </li>

        <li><a href="@Url.Action("Index", "Gauntlet")">Pick Up a Gauntlet</a></li>
        <li><a href="#">Throw Down a Gauntlet</a></li>
        <li><a href="@Url.Action("Logout", "Account")">Logout</a></li>


    </ul>


}