@model gSculpt.Models.Gauntlet


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        @Model.arbritrary 

    </div>
</body>
</html>
