@model gSculpt.Models.Gauntlet


@section BackButton{
data-add-back-btn="true"
}

@section Content{


    <div class="gauntlet-display">

        <div class="leftbar-@Model.DifficultyRange.ToLower()">
            
        </div>

        <div class="title">
            @Model.Reps
            @Model.Excercise
        </div>

        <div class="details">
            <div class="item">
                Difficulty: @Model.DifficultyRange
            </div>
            <div class="item">
                Base Points: @Model.BasePoints
            </div>
        </div>


    </di>

}


@section Footer{
<div class="center-wrapper">
        <a href="#" data-role="button">Pick Up</a>
    </div>

}