@{
    ViewBag.Title = "GFit - Today's Gauntlets";
}
@model IEnumerable<gSculpt.Models.Base.Gauntlet>



@section BackButton{
data-add-back-btn="true"
}


@section Content{

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">gFit's Daily Gauntlets</li>

        @foreach (var g in Model.OrderBy(o => o.BasePoints).ToList<gSculpt.Models.Base.Gauntlet>())
        {
            @Html.Partial("_GFitGauntletListItem", g);
        }



        <li data-role="list-divider">Friends Gauntlets</li>
        <li><a href="#">Coming Soon</a></li>
        <li><a href="#">Coming Soon</a></li>
        <li><a href="#">Coming Soon</a></li>
        <li><a href="#">Coming Soon</a></li>



    </ul>

}
