@model IEnumerable<gSculpt.Models.Gauntlet>

<body>


<div data-role="page">
    <div data-role="header">Header</div>

    <div data-role="content">
        Content 
                <a href="/Home" data-transition="flip">Test</a>

    </div>

    <div data-role="footer">Footer</div>
</div>

</body>



