<div data-role="page">
    <div data-role="header">
                
        <h1>LOGGED IN BITCH!</h1>


    </div>

    <div data-role="content">
        
        Hey asshole, you're logged in!

        <a href="/Home" data-transition="flip">Go to Home Butt Muncher</a>

    </div>

    <div data-role="footer">Footer</div>
</div>


