<div data-role="page">

    <div data-role="header">
        <h1>gFIT</h1>
    </div>

    <div data-role="content">


        @if (ViewBag.notification != "")
        {
            
            <div class="notification">
                @ViewBag.notification
            </div>
            
        }
        
        <div>
            Welcome to gFit. To use this app you need to log in. We use Facebook authentication to do this. Don't worry, we won't spam your Facbook friends or anything,
        we just don't want to force you to create another account!
        </div>


        <div class="center-wrapper">
            
            <!--even though this is an internal link, it needs to be fetched externally since it calls facebook.com-->
            <a href="@Url.Action("LoginWithProvider")" 
                data-role="button" 
                data-icon="arrow-r" 
                data-inline="true" 
                data-iconpos="right"
                rel="external">Login With <span style="color:#3B5998">Facebook</span></a>


        </div>



    </div>

    <div data-role="footer">
        <h1>Foot</h1>
    </div>
</div>
