.center-wrapper {
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;
}

    .center-wrapper * {
        margin: 0 auto;        
    }


.notification {
    border: 1px solid #808080;
    padding: 10px;
    background-color: #FFFF82;
}


/*
    
    */

.tile-base {
    display: inline-block;
    position: relative;    
    background-color: #272727;
    color: white;
    border-radius: 0.2em;
    min-height: 60px;
    margin: 2px;
}


    .tile-base .data-tile {
        position: relative;
        margin: 6px;
        min-width: 50px;
        z-index: 100;
        text-align: center;
    }

        .tile-base .data-tile .data {
            font-size: 32px;
            color: #ffd800;
        }

        .tile-base .data-tile .caption {
            font-size: 12px;
        }

        .tile-base .data-tile .seconds {
            font-size: 12px;
            vertical-align: top;
            color: #CCC;
        }


/*  *
    The Content Tile Classes
    *
    */

.content-tile-base {
    display: block;    
    background-color: #343434;
    color: white;
    border-radius: 0.2em;
    margin: 2px;
    margin-top:12px;
    padding:3px;
    font-size:12px;
}

    .content-tile-base .content-tile-title {
        font-size:14px;
        font-weight: bold;
        color:#DDD;
    }

    .content-tile-base .left-bar-yellow {
        display:inline-block;
        background-image: url("/Images/1pxYellow.png");
        background-position: left;
        background-size: 3px;
        background-repeat: repeat-y;
        padding-left: 12px;
        margin:6px 3px 6px 6px;
       
    }

    .content-tile-base .left-bar-green {
        background-image: url("/Images/1pxYGreen.png");
        background-position: left;
        background-size: 3px;
        background-repeat: repeat-y;
        padding-left: 12px;
        margin:6px 3px 6px 6px;
        
    }

    .content-tile-base .left-bar-red {
        background-image: url("/Images/1pxRed.png");
        background-position: left;
        background-size: 3px;
        background-repeat: repeat-y;
        padding-left: 12px;
        margin:6px 3px 6px 6px;        
    }

    .content-tile-base .line-item {
        
    }

    .content-tile-base .line-item .item-title{
        display: inline-block;
        color: #ffd800;
        font-weight: bold;
        padding-right:10px;
        min-width: 100px;
        
    }
    .content-tile-base .line-item .item-value{
        white-space:pre;
    }