@model gFit.Models.ViewModels.DataVM





<div class="tile-base">
    <div class="data-tile">
        <div class="data">@Html.Raw(Model.Data)</div>
        <div class="caption">@Model.Caption</div>
    </div>
</div>