<div data-role="page">
    <div data-role="header">
                
        <h1>gFIT</h1>


    </div>

    <div data-role="content">
        
        <ul>

            <li>Today's Gauntlets</li>
            <li>Gauntlet History</li>
            <li>Settings</li>
            
        </ul>
        <a href="/Gauntlet" data-transition="flip">Test 1</a>

    </div>

    <div data-role="footer">Footer</div>
</div>




