@Model = gSculpt.Models.Account;

<div data-role="page">
    <div data-role="header">
                
        <h1>gFIT</h1>


    </div>

    <div data-role="content">
        


        <div data-role="controlgroup">
            <a href="#" data-role="button">Daily Gauntlets</a>


            <a href="#" data-role="button">Friend Challenges</a>


            <a 
                href="@Url.Action("Logout", "Account")"
                data-role="button">
                Logout
            </a>
        </div>


    </div>

    <div data-role="footer">Footer</div>
</div>




