.center-wrapper {
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;
}

    .center-wrapper * {
        margin: 0 auto;        
    }


.notification {
    border: 1px solid #808080;
    padding: 10px;
    background-color: #FFFF82;
}


/*
    
    */

.tile-base {
    display: inline-block;
    position: relative;    
    display: inline-block;
    position: relative;
    background-color: #343434;
    color: white;
    border-radius: 0.2em;
    min-height: 60px;
    margin: 2px;
}


    .tile-base .left-bar-yellow {
        background-image: url("/Images/1pxYellow.png");
        background-position: left;
        background-size: 5px;
        background-repeat: repeat-y;
        padding-left: 12px;
        margin:6px 3px 6px 6px;
        
    }

    .tile-base .left-bar-green {
        background-image: url("/Images/1pxGreen.png");
        background-position: left;
        background-size: 5px;
        background-repeat: repeat-y;
        padding-left: 12px;
        margin:6px 3px 6px 6px;
        
    }

    .tile-base .left-bar-red {
        background-image: url("/Images/1pxRed.png");
        background-position: left;
        background-size: 5px;
        background-repeat: repeat-y;
        padding-left: 12px;
        margin:6px 3px 6px 6px;
        
    }





.data-tile {
    position:relative;
    margin: 6px;
    min-width: 50px;    
    z-index: 100;
    text-align: center;
}

    .data-tile .data {
        font-size: 32px;
        color: #ffd800;
    }

    .data-tile .caption {
        font-size: 12px;
    }

    .data-tile .seconds {
        font-size: 12px;
        vertical-align: top;
        color: #CCC;
    }


/*
    Timer classes    
    */

